header {
  width: 80%;
  margin: 0 auto;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  .logo {
    a {
      text-decoration: none;
      color: black;
      font-size: 18px;
      @include roboto-regular;
    }
  }
  .nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;

    a {
      text-decoration: none;
      color: black;
      font-size: 15px;
      @include roboto-regular;
    }
    li {
      padding: 0 10px;

      &:hover {
        transition: transform 0.3s ease;
        transform: scale(1.1);
      }
    }
  }
}
